In [1]:
import pandas as pd
from tqdm import trange, tqdm, tqdm_notebook
import numpy as np

In [2]:
bus = pd.read_csv('output/bus_operate_num.csv')
bus = bus.iloc[:, range(1,6)]
display(bus.head(5))

         정류소id    val             정류소명         위도          경도
0  210000001.0  164.0  삼산체육관역.영상문화단지정문  37.507767  126.742100
1  210000003.0  784.0        KT부천지사사거리  37.485933  126.776467
2  210000004.0  935.0            부천대학교  37.488683  126.777033
3  210000005.0  935.0    부천소방서.부천대학사거리  37.491500  126.777683
4  210000006.0  572.0  기업은행.위브더스테이트5단지  37.498350  126.777217

In [3]:
bus = bus[bus.loc[:, 'val'] != np.inf]
bus

           정류소id    val             정류소명         위도          경도
0    210000001.0  164.0  삼산체육관역.영상문화단지정문  37.507767  126.742100
1    210000003.0  784.0        KT부천지사사거리  37.485933  126.776467
2    210000004.0  935.0            부천대학교  37.488683  126.777033
3    210000005.0  935.0    부천소방서.부천대학사거리  37.491500  126.777683
4    210000006.0  572.0  기업은행.위브더스테이트5단지  37.498350  126.777217
..           ...    ...              ...        ...         ...
979  277103184.0   87.0         중동IC(경유)  37.505767  126.748267
980  277103185.0   25.0         중동IC(경유)  37.506667  126.748000
981  277103186.0   34.0       중동IC진입(경유)  37.506100  126.749683
982  277103547.0   10.0       삼산체육관역(경유)  37.506750  126.742550
983  277103550.0   88.0        구산사거리(경유)  37.484117  126.753417

[925 rows x 5 columns]

In [4]:
new_bus = pd.DataFrame({'정류소id' : [], 'val' : [], '정류소명' : [], '위도' : [], '경도' : []})
new_bus

Empty DataFrame
Columns: [정류소id, val, 정류소명, 위도, 경도]
Index: []

In [5]:
'''for i in tqdm(range(len(bus))):
    for j in range(int(round(bus.iloc[i, 1]))):
        new_bus = new_bus.append(bus.iloc[i])'''

'for i in tqdm(range(len(bus))):\n    for j in range(int(round(bus.iloc[i, 1]))):\n        new_bus = new_bus.append(bus.iloc[i])'

In [6]:
# new_bus.to_csv('output/bus_heatmap.csv')

In [7]:
new_bus = pd.read_csv('output/bus_heatmap.csv')

In [10]:
import json
import folium
from folium.plugins import HeatMap

geo_data = "data/HangJeongDong_bucheon2.json"

with open(geo_data,encoding="utf-8") as f:
    geo_data = json.loads(f.read())

    
map_obj = folium.Map(location=[37.50554861215234,126.77550612183495], zoom_start=13) #tiles은 TMS URL, attr은 배경지도 정보
lat = list(bus['위도'])
lng = list(bus['경도'])
heatMap = HeatMap(zip(lat, lng),
                  min_opacity=0.1,
                  radius=30,  #영향 반경 
                  blur=25,     #스무딩 
                  max_zoom=4,
                  color='Red',
                  #gradient={.5: 'Yellow', .75: 'Orange', 1: 'red'}
)


fmap=folium.Choropleth(geo_data = geo_data,
                       color = "black",
                       nan_fill_color='black',
                       fill_opacity=0.1,
                       fill_color = None).add_to(map_obj)

map_obj.add_child(heatMap)
map_obj
map_obj.save('output/busheatmap1.html')

In [11]:
import json
import folium
from folium.plugins import HeatMap

geo_data = "data/HangJeongDong_bucheon2.json"

with open(geo_data,encoding="utf-8") as f:
    geo_data = json.loads(f.read())

    
map_obj = folium.Map(location=[37.50554861215234,126.77550612183495], zoom_start=13) #tiles은 TMS URL, attr은 배경지도 정보
lat = list(new_bus['위도'])
lng = list(new_bus['경도'])
heatMap = HeatMap(zip(lat, lng),
                  min_opacity=0.1,
                  radius=30,  #영향 반경 
                  blur=25,     #스무딩 
                  max_zoom=4,
                  color='Red',
                  #gradient={.5: 'Yellow', .75: 'Orange', 1: 'red'}
)


fmap=folium.Choropleth(geo_data = geo_data,
                       color = "black",
                       nan_fill_color='black',
                       fill_opacity=0.1,
                       fill_color = None).add_to(map_obj)

map_obj.add_child(heatMap)
map_obj
map_obj.save('output/busheatmap2.html')